<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>cmt edit</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>cmt edit</h1>
        <form th:action="@{/comment/edit/{id}}" th:object="${comment}" method="post">

                <!-- Input hidden để truyền share_id -->
                <input type="hidden" th:field="*{comment_id}" class="form-control" id="comment_id" />

                <div class="mb-3">
                    <label for="post" class="form-label">POST ID:</label>
                    <input type="text" th:field="*{post.post_id}" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="myUser" class="form-label">MY USER ID:</label>
                    <input type="text" th:field="*{myUser.user_id}" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="content" class="form-label">CONTENT:</label>
                    <input type="text" th:field="*{content}" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="CommentDate" class="form-label">DATE:</label>
                    <input type="date" th:field="*{CommentDate}" class="form-control">
                </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>

    </body>
</html>
