<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container mt-3">
            <form method="post" action="/us/add">
                <label for="full_name">Họ và Tên:</label>
                <input type="text" id="full_name" name="full_name" required><br>

                <label for="username">Tên đăng nhập:</label>
                <input type="text" id="username" name="username" required><br>

                <label for="password">Mật khẩu:</label>
                <input type="password" id="password" name="password" required><br>

                <label for="avata_url">URL Ảnh Đại diện:</label>
                <input type="text" id="avata_url" name="avata_url"><br>

                <button type="submit">Thêm Người Dùng</button>
            </form>
        </div>
    </body>
</html>