<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Likes </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>List like</h1>
        <table class="table">
            <tr>
                <th>id like</th>
                <th>nguoi like</th>
                <th>Post id</th>                
                <th>trang thai</th>
            </tr>
            <tr th:each ="row, state:${list}">
                <td th:utext="${row.getLike_id()}"></td>
                <td th:utext="${row.getLikedUser().getFull_name()}"></td>
                <td th:utext="${row.getLikedPost().getPost_id()}"></td>
                <td th:utext="${row.getStatus()}"></td>
                <td><a th:href="'/likes/enablelike/'+ ${row.like_id}">enable</a></td>
                <td><a th:href="'/likes/disablelike/'+ ${row.like_id}">disable</a></td>
            </tr>
        </table>
    </body>
</html>