<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Post edit</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script> 
        <link rel="stylesheet" href="url" th:href="@{/css/style_post_add.css}" /> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="background-color: whitesmoke" >

        <div  class="container-post">
            <div class="noidung">
                <div> Chỉnh sửa bài viết </div>
                <a style="margin-top: 7px" href="/homes"  id="closeInp">
                    <label style="width: 100%; height: 100%; cursor: pointer;">
                        <img class="bth_close" src="/images/Ellipse 2.png" />
                    </label>
                </a>
            </div>
            <form class="form-control form-cusstom" method="post" th:action="@{/post/edit/{id}}" th:object="${post}" enctype="multipart/form-data">
                <!-- Input hidden để truyền post_id -->
                <input type="hidden" th:field="*{post_id}" class="form-control" id="post_id" />
                <input type="hidden" th:field="*{myUser.user_id}" class="form-control">
                <div class="user" th:if="${user.isPresent()}">
                    <input type="hidden" th:name="user_id" th:value="${user.get().user_id}" />
                    <img class="image-user" th:src="@{/images/img_avt/{filename}(filename=${user.get().getAvata_url()})}" />
                    <div class="User-name" th:text="${user.get().full_name}"> Tên user</div>
                </div>
                <div class="NDPost" >
                    <textarea id="content" th:field="*{content}" name="content" rows="3" placeholder="Nội dung post" required></textarea>
                </div>
                <div class="media">
                    <div class="Border_img" >
                        <div th:if="${not #strings.isEmpty(post.getUrl())}"  >
                            <!-- Kiểm tra định dạng của file để quyết định sử dụng thẻ <img> hoặc <video> -->
                            <th:block th:if="${post.getUrl().toLowerCase().endsWith('.mp4') or post.getUrl().toLowerCase().endsWith('.avi') or post.getUrl().toLowerCase().endsWith('.mov')}">
                                <!-- Nếu là video, sử dụng thẻ S<video> -->
                                <video style="height: 100px; width: auto" controls>
                                    <source th:src="@{/images/img_post/{imageUrl}(imageUrl=${post.getUrl()})}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </th:block>
                            <th:block th:else >
                                <!-- Nếu không phải là video, sử dụng thẻ <img> -->
                                <img id="previewImage" style="height: 100px; width: auto" th:src="@{/images/img_post/{imageUrl}(imageUrl=${post.getUrl()})}" class="img-fluid" alt="" >
                            </th:block>
                        </div>
                    </div>
                </div>
<!--                <img class="img-preview" id="previewImage" th:src="@{/images/img_post/{filename}(filename=*{url})}" alt="">-->
                <div class="input-img">
                    <input type="file" name="fileInput" id="fileInput" style="display: none;" accept=".mp4, .avi, .mov, image/*" >
                    <label for="fileInput">
                        <div class="text-hinhanh"> Thêm hình ảnh</div>
                        <img class="Img-add" src="/images/iconhinhanh.png" />
                    </label>
                </div>
                <input class="button-dang" value="Save" type="submit">
            </form>
        </div>

    </body>
    <!-- Đường dẫn đến tệp JavaScript -->
    <script th:src="@{/js/post_edit.js}"></script>
    
</html>
